<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.screamxo">

    <uses-feature android:name="android.hardware.type.watch" />

    <application
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault">
        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".BuffetActivity" />
        <activity android:name=".ShopActivity" />
        <activity android:name=".StreamActivity" />
        <activity android:name=".ShopListActivity" />
        <activity android:name=".DetailActivity" />
    </application>

</manifest>